.u-responsiveGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.u-responsiveFlexbox {
  display: flex;
  flex-wrap: wrap;

  & > * { flex: 1 1 200px; }
}

.u-message {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;

  @include mq(m) { font-size: 1.5rem; }
}

.u-none { display: none; }

.u-btn {
  font-size: 1.1rem;
  margin: 1rem auto;
  padding: .5rem 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 10em;
  color: var(--second-color);
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: var(--shadow-1);
  transition: all .3s ease;

  &:hover { color: var(--main-color); background-color: var(--second-color); box-shadow: var(--shadow); }
}

