.Logo {
  position: fixed;
  z-index: 999;
  top: var(--logo-spacing);
  left: var(--logo-spacing);
  //padding: var(--logo-spacing);
  width: var(--logo-width);
  height: var(--logo-height);
  border-radius: 50%;
 // background-color: var(--alternate-color);

 img {
  box-shadow: var(--shadow-img);
   border-radius: 50%;
   @include mq(l) {
     width: 150px;
    height: 120px;
  }
 }

  @include mq(m) {
    position: static;
    width: var(--header-height);
    height: var(--header-height);
    grid-area: logo;
  }

  @include mq(l) {
    text-align: center;
    width: 100%;
    height: 120px;
    padding-top: .5rem;
  }
}
