.Project {
  @extend .u-responsiveGrid;

  figure {
    padding: 1rem;
    display: flex;
    flex-direction: column;

  }

  img {
    background-color: var(--border-color);
    border-radius: 1rem 1rem 0 0;
    box-shadow: var(--shadow);
  }

  figcaption {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: var(--shadow);
    border-radius: 0 0 1rem 1rem;
    padding: .9rem;
    font-size: 4vw;
    color: var(--second-color);
    background-color: var(--white);

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: center;
      width: 100%;
      margin: .5rem 0;

      .title {
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      svg {
        font-size: 1.5rem;
      }
    }

    .description,
    .category {
      font-size: 1rem;
      color: var(--text-color);
      text-transform: uppercase;
    }
  }

  .fa-trash {
    cursor: pointer;
  }
}
